<!DOCTYPE html>
<html lang="en">
  <head class="h-full">
    {% include "head.njk" %}
    {% set css %}
    {% include "../_assets/styles.css" %}
    {% endset %}
    <style>
      {{css | postcss | safe}}</style>
  </head>
  <body>
    {% include "navbar.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
