<footer>
  <div class="container text-center small py-vh-3">Made by
    <a href="https://rotarywheelsforlearning.com" class="link-fancy" target="_blank">Rotary Wheels for Learning</a>
  </div>
</footer>
